
<ul>
  <li>
  <h3><%= @video.title %></h3>
  <p><%= @video.desc %></p>
   <iframe width="560" height="315" src="<%= @video.video_url %>" frameborder="0" allowfullscreen></iframe> 
  </li>
<li><a href="/videos/<%= @video.id + 1 %>">next</a></li>
<li><a href="/videos/<%= @video.id - 1 %>">previous</a></li>
<li><a href="#">zing it!</a></li>
</ul>